* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    background: #3AB8E6;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

p {
    font-family: 'Droid Sans';
    font-weight: bolder;
    font-size: 16px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

hr {
    border: 0;
    background-color: #ABB7B7;
    height: 2px;
    margin-right: 5%;
}

#index {
    margin-top: 50px;
}

#index * {
    margin-top: 20px;
}

#location {
    font-size: 18px;
    border-radius: 5px;
}

#btnloc {
    margin-left: 55px;
}

button.flat {
    text-align: left;
    width: 200px;
    font-size: 18px;
    border-radius: 6px;
    line-height: 1.471;
    padding: 10px 10px;
    background-color: #34495e;
    color: #fff;
    border: medium none;
}

button.btn {
    -webkit-transition: all 0s ease-out;
    -moz-transition: all 0s ease-out;
    -o-transition: all 0s ease-out;
    -ms-transition: all 0s ease-out;
    transition: all 0s ease-out;
    height: 40px;
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    padding: 4px 20px 0;
    margin: 5px auto;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

button.btn:before {
    content: "!";
    width: 35px;
    height: 30px;
    display: block;
    position: absolute;
    padding-top: 10px;
    line-height: 25px;
    top: 0px;
    margin-left: -54px;
    font-size: 18px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

button.btn:active {
    top: 3px;
}

button.btn:active:before {
    top: -3px;
}

button.halt {
    border-left: solid 1px #C02B21;
    background: #DE463B;
    -webkit-box-shadow: 0px 5px 0px 0px #C02B21;
    box-shadow: 0px 5px 0px 0px #C02B21;
}

button.halt:active {
    -webkit-box-shadow: 0px 2px 0px 0px #C02B21;
    box-shadow: 0px 2px 0px 0px #C02B21;
}

button.halt:before {
    border-right: solid 1px #C02B21;
    background: #DE463B;
    -webkit-box-shadow: 0px 5px 0px 0px #C02B21;
    box-shadow: 0px 5px 0px 0px #C02B21;
}

button.halt:active:before {
    -webkit-box-shadow: 0px 5px 0px 0px #C02B21, 6px 4px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 0px 0px #C02B21, 6px 4px 2px rgba(0,0,0,0.3);
}

button.photo {
    border-left: solid 1px #446CB3;
    background: #4183D7;
    -webkit-box-shadow: 0px 5px 0px 0px #446CB3;
    box-shadow: 0px 5px 0px 0px #446CB3;
}

button.photo:active {
    -webkit-box-shadow: 0px 2px 0px 0px #446CB3;
    box-shadow: 0px 2px 0px 0px #446CB3;
}

button.photo:before {
    border-right: solid 1px #446CB3;
    background: #4183D7;
    -webkit-box-shadow: 0px 5px 0px 0px #446CB3;
    box-shadow: 0px 5px 0px 0px #446CB3;
}

button.photo:active:before {
    -webkit-box-shadow: 0px 5px 0px 0px #446CB3, 6px 4px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 0px 0px #446CB3, 6px 4px 2px rgba(0,0,0,0.3);
}

button.generic:before {
    content: "✱";
}

button.generic {
    border-left: solid 1px #1E824C;
    background: #26A65B;
    -webkit-box-shadow: 0px 5px 0px 0px #1E824C;
    box-shadow: 0px 5px 0px 0px #1E824C;
}

button.generic:active {
    -webkit-box-shadow: 0px 2px 0px 0px #1E824C;
    box-shadow: 0px 2px 0px 0px #1E824C;
}

button.generic:before {
    border-right: solid 1px #1E824C;
    background: #26A65B;
    -webkit-box-shadow: 0px 5px 0px 0px #1E824C;
    box-shadow: 0px 5px 0px 0px #1E824C;
}

button.generic:active:before {
    -webkit-box-shadow: 0px 5px 0px 0px #1E824C, 6px 4px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 0px 0px #1E824C, 6px 4px 2px rgba(0,0,0,0.3);
}

button.up:before {
    content: "↑";
    line-height: 20px;
}

button.down:before {
    content: "↓";
    line-height: 20px;
}

button.left:before {
    content: "←";
    line-height: 20px;
}

button.right:before {
    content: "→";
    line-height: 20px;
}

button.stop:before {
    content: "";
}

#header {
    margin-bottom: 25px;
}

#footer {
    margin-top: 25px;
    /*General*/
    transform: scale(0.9, 0.9);
    /*Firefox*/
    -moz-transform: scale(0.9, 0.9);
    /*Microsoft Internet Explorer*/
    -ms-transform: scale(0.9, 0.9);
    /*Chrome, Safari*/
    -webkit-transform: scale(0.9, 0.9);
    /*Opera*/
    -o-transform: scale(0.9, 0.9);
}

#main {
    display: none;
    margin-left: 5%;
}

#speed {
    text-align: center;
    font-size: 1.3em;
    color: white;
    font-weight: bolder;
    height: 20px;
    background: transparent;
    border: none;
}

#back .flat {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-weight: bolder;
    width: 40px;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Landscape layout (with min-width) */
@media screen and (max-width: 500px) {
    #footer, #header {
        margin: 0;
    }
}